footer{
  width: 100%;
  background-color: rgb(37, 37, 37);
  color: #fff;
  text-align: center;
  height: 60px;
  position: fixed;
  bottom: 0;
  left: 0;
}
footer p {
  display: block;
  padding: 20px 0px 0px 0px;
}
.footer-link{
  color: #fff;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
}
.footer-link:hover{
  color: #007bff;
  cursor: pointer;
}
