<div>
	<div class="heroContainer">

		<div class="carousel-container">
			<div *ngFor="let item of heroData let i = index"
				[ngClass]="i === pos ? 'fade' : 'hide ' "
				class="heroCard">
				<h2>{{item.author}}</h2>
				<!-- <strong>{{item.id}}</strong -->
				<img src="{{item?.download_url}}"
					style="width: 90%; height: 95%"
					alt>
				<!-- <p>{{item.img}}</p> -->
			</div>
		</div>

		<button (click)="prev()">&#8592;</button>
		<button (click)="next()">&#8594;</button>
	</div>
</div>
