.nav-container{
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.navbar-list{
  display: flex;
  list-style-type: none;
}
.nav-items{
  padding: 15px 20px;
  transition: all 0.3s ease-in-out;
}
.nav-items:hover{
  cursor: pointer;
}
