.nav-container{
  width: 100%;
  display: flex;
  justify-content: space-around;
  background-color: #fff;
}
.navbar-list{
  display: flex;
  list-style-type: none;
}
.nav-items a{
  display: block;
  padding: 20px 30px;
  transition: all 0.3s ease-in-out;
}
.nav-items a{
  text-decoration: none;
  color: #000;
}
.nav-items:hover{
  cursor: pointer;
}
.activeButton{
  color: crimson !important;
}
.fix{
  position: fixed;
  top: 0;
  left: 0;
}
.hide{
  display: none;
}
.content-between{
  justify-content: space-between;
}
.flex{
  display: flex;
}
