*{
  overflow: hidden;
}
.flex{
  display: flex;
}
.content-center{
  justify-content: center;
}
.form-container{
  width: 80vw !important;
  height: 89.5vh !important;
  background-color: #fff;
  margin: 20px auto;
  padding: 30px 0px;
}
.formLogin, .formRegister{
  width: 50%;
  text-align: center;
  background: #e0e0e0;
  border-radius: 5px;
}
.input{
  width: 60%;
  padding: 15px 10px;
  border: none;
  margin: 20px auto;
  border-radius: 5px;
}
.input:focus{
  outline: #7f7f7f60;
}
.hide{
  display: none;
}
.formTitle{
  margin: 100px 0px 40px 0px;
  font-size: 40px;
  color: #4c4c4c;
}
.formBtn{
  width: 40%;
  padding: 10px 0px;
  background-color: #3093fd;
  color: #fff;
  border: none;
  border-radius: 5px;
  margin: 50px 60px 30px;
  transition: all 0.3s ease-in-out;
}
.formBtn:hover{
  cursor: pointer;
  background-color: #007bff;
}
.changeForm{
  color: #007bff;
}
.changeForm:hover{
  cursor: pointer;
}
.loginContainer , .registerContainer{
  width: 80vw !important;
}
.textAcc{
  font-weight: 500;
  font-size: 0.8rem;
  margin: 30px 0px;
}
.dangerInput{
  border: 1px solid crimson;
}
.validateInput{
  border: 1px solid lime;
}
.textGreen{
  color: lime;
  font-size: 0.7rem;
  font-weight: 400;
  margin: -13px 0px;
}
#showPass1{
  margin: -10px 0px;
}
#showPass1:hover{
  cursor: pointer;
}

.loginAnimate{
  animation: loginAnimate 520ms 1 linear ;
}
.registerAnimate{
  animation: registerAnimate 520ms 1 linear;
}
.formRegister1,.formRegister2{
  width: 50%;
  text-align: center;
  background-position: center;
  background-repeat: no-repeat;
}
.formRegister1{
  background-image: url('../../assets/pic/spot-personal-information.png');
}
.formRegister2{
  background-image: url('../../assets/pic/register.svg');
  background-size: 30%;
}

@keyframes loginAnimate {
  0%{transform: translateX(0); }
  70%{transform: translateX(80%);}
  100%{transform: translateX(100%);}
}

@keyframes registerAnimate {
  0%{transform: translateX(0); }
  70%{transform: translateX(-80%);}
  100%{transform: translateX(-100%);}
}

@media screen and (max-width: 600px) {
  .formRegister1{
    display: none;
  }
  .formLogin, .formRegister{
    width: 100%;
  }
}
