<div class="form-container flex content-center">

	<!-- login form -->
	<div [ngClass]="hide ? '' : 'hide'"
		class="flex loginContainer">
		<form [ngClass]="animate? '' : 'loginAnimate'"
			(ngSubmit)="loginFunction($event)"
			class="formLogin">
			<h3 class="formTitle">Login</h3>

			<input [value]="userName"
				(input)="userNameHandler($event)"
				type="text"
				class="input"
				placeholder="Enter Username or ID">

			<input [type]="showPass ? 'text' : 'password'"
				[value]="lPassword"
				(input)="lPasswordHandler($event)"
				class="input"
				placeholder="Enter Password">
			<br>

			<input type="checkbox"
				id="showPass">
			<label (click)="showPassword()"
				for="showPass">
				ShowPassword
			</label>
			<br>
			<button (click)="loginFunction($event)"
				class="formBtn">
				Login
			</button>
			<p class="textAcc">
				Haven't account?
				<br>
				Register
				<span (click)="changeForm1()"
					class="changeForm">
					here
				</span>
			</p>
		</form>
		<div class="formRegister1"></div>
	</div>

	<!-- register form -->
	<div [ngClass]="hide ? 'hide' : ''"
		class="flex registerContainer ">
		<div class="formRegister2"></div>

		<form [ngClass]="animate? 'registerAnimate' : ''"
			(ngSubmit)="register($event)"
			class="formRegister">
			<h3 class="formTitle">Register</h3>

			<input type="text"
				class="input"
				placeholder="Enter Username or ID">

			<input [ngClass]="validateEmail ? 'validateInput' : ''"
				[value]="email"
				(input)="emailHandler($event)"
				type="email"
				class="input"
				placeholder="Enter Email"
				formControlName="primaryEmail">

			<input [type]="showPass ? 'text' : 'password'"
				[ngClass]="passwordSame ? 'validateInput' : passwordNotSame ? 'dangerInput' : '' "
				[value]="password"
				(input)="passwordHandler($event)"
				class="input"
				placeholder="Enter Password">

			<input [type]="showPass ? 'text' : 'password'"
				[ngClass]="passwordSame ? 'validateInput' : passwordNotSame ? 'dangerInput' : '' "
				[value]="confirmPass"
				(input)="conPasswordHandler($event)"
				class="input"
				placeholder="Enter Confirm Password">

			<p [ngClass]="passwordSame ? '' : 'hide'"
				for
				class="textGreen">
				*Password Same*
			</p>
			<br>
			<input type="checkbox"
				id="showPass1">
			<label (click)="showPassword()"
				for="showPass1">
				ShowPassword
			</label>
			<br>
			<button (click)="register($event)"
				class="formBtn">
				Register
			</button>
			<p class="textAcc">
				Already have an account?
				<br>
				Login
				<span (click)="changeForm2()"
					class="changeForm">
					here
				</span>
			</p>
		</form>
	</div>

</div>
